<div id="nav">
  <ul>
    <li><a href="/">Overview</a></li>
    <li><a href="/transactions">Transactions</a></li>
    <li><a href="/transactions/new">New</a></li>
    <li><a class="active" href="/merchants">Merchants</a></li>
    <li><a href="/tags">Tags</a></li>
  </ul>
</div>

<div id="link">
  <li>
    <a href="/merchants/new">Add Merchant</a>
  </li>
</div>

<div id="table">
  <h4>Total Spent by Merchant</h4>
  <table>
  <% @merchants.each do |merchant| %>
    <tr>
      <td><%= merchant.name.upcase %></td>
      <td><%= sprintf( "%.2f", Merchant.total_by_id(merchant.id).to_f / 100 ) %></td>
    </tr>
    <% end %>
  </table>
</div>