<h1>Merchants</h1>

<li>
  <a href="/merchants/new">Add Merchant</a>
</li>

<br>
<h3>Total Spent by Merchant:</h3>
<table>
<% @merchants.each do |merchant| %>
  <tr>
    <td><%= merchant.name.upcase %></td>
    <td><%= sprintf( "%.2f", Merchant.total_by_id(merchant.id).to_f / 100 ) %></td>
  </tr>
  <% end %>
</table>