<h1>Merchants</h1>

<li>
  <a href="/merchants/new">Add merchant</a>
</li>

<br>
<h3>Total spent per merchant:</h3>
<table>
<% @merchants.each do |merchant| %>
  <tr>
    <td><%= merchant.name %></td>
    <td><%= Merchant.total_by_id(merchant.id) %></td>
  </tr>
  <% end %>
</table>