<h1>Add New Merchant</h1>

<form action="/merchants" method="post">
  
  <label for="name">Merchant Name:</label>
  <input type="text" name="name" id="name">

  <input type="submit" value="Save Merchant"/>
  
</form>
<br>
<h3>Saved Merchants:</h3>
<table>
<% @merchants.each do |merchant| %>
  <tr>
    <td><%= merchant.name.upcase %></td>
  </tr>
  <% end %>
</table>