<div id="nav">
  <ul>
    <li><a href="/">Overview</a></li>
    <li><a href="/transactions">Transactions</a></li>
    <li><a href="/transactions/new">New</a></li>
    <li><a class="active" href="/merchants">Merchants</a></li>
    <li><a href="/tags">Tags</a></li>
  </ul>
</div>

<form action="/merchants" method="post">
  
  <label for="name">Merchant Name:</label>
  <input type="text" name="name" id="name">

  <input type="submit" value="Save Merchant"/>
  
</form>
<br>
<h3>Saved Merchants:</h3>
<table>
<% @merchants.each do |merchant| %>
  <tr>
    <td><%= merchant.name.upcase %></td>
  </tr>
  <% end %>
</table>