<!DOCTYPE html>
<html>
<head>
  <title>Cashboard</title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/">Overview</a>
      </li>
      <li>
        <a href="/transactions">Transactions</a>
      </li>
      <li>
        <a href="/merchants">Merchants</a>
      </li>
      <li>
        <a href="/tags">Tags</a>
      </li>
    </ul>
  </nav>

  <%= yield %>

</body>
</html>