<!DOCTYPE html>
<html>
<head>
  <title>Cashboard</title>
  <link rel="stylesheet" type="text/css" href="/styles/nav.css">
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
  <link rel="stylesheet" type="text/css" href="/styles/overview.css">
  <link rel="stylesheet" type="text/css" href="/styles/transactions.css">
  <link rel="stylesheet" type="text/css" href="/styles/merchant_tag.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  <link rel="icon" href="/images/btc.png" />
</head>
<body>

  <%= yield %>

</body>
</html>