<div id="nav">
  <ul>
    <li><a href="/">Overview</a></li>
    <li><a href="/transactions">Transactions</a></li>
    <li><a href="/transactions/new">New</a></li>
    <li><a href="/merchants">Merchants</a></li>
    <li><a class="active" href="/tags">Tags</a></li>
  </ul>
</div>

<div id="link">
    <p><a href="/tags/new">Add Tag</a></p>
</div>

<div id="table">
  <h4>Total Spent by Tag</h4>
  <table>
  <% @tags.each do |tag| %>
    <tr>
      <td><%= tag.name.upcase %></td>
      <td><%= sprintf( "%.2f", Tag.total_by_id(tag.id).to_f / 100 ) %></td>
    </tr>
    <% end %>
  </table>
</div>