<h1>Tags</h1>

<p>New Tag Button</p>
<br>
<h3>Total spent per tag:</h3>
<table>
<% @tags.each do |tag| %>
  <tr>
    <td><%= tag.name %></td>
    <td><%= Tag.total_by_id(tag.id) %></td>
  </tr>
  <% end %>
</table>