<h1>Tags</h1>

<li>
  <a href="/tags/new">Add Tag</a>
</li>

<br>
<h3>Total Spent by Tag:</h3>
<table>
<% @tags.each do |tag| %>
  <tr>
    <td><%= tag.name.upcase %></td>
    <td><%= Tag.total_by_id(tag.id) %></td>
  </tr>
  <% end %>
</table>