<ul id="menu">
  <li class="menu-item"><a href="/">Overview</a></li>
  <li class="menu-item"><a href="/transactions">Transactions</a></li>
  <li class="menu-item"><a href="/transactions/new">New</a></li>
  <li class="menu-item"><a href="/merchants">Merchants</a></li>
  <li class="menu-item"><a class="active" href="/tags">Tags</a></li>
</ul>
<br>
<h1>Add New Tag</h1>

<form action="/tags" method="post">
  
  <label for="name">Tag Name:</label>
  <input type="text" name="name" id="name">

  <input type="submit" value="Save Tag"/>
  
</form>
<br>
<h3>Saved Tags:</h3>
<table>
<% @tags.each do |tag| %>
  <tr>
    <td><%= tag.name.upcase %></td>
  </tr>
  <% end %>
</table>