<div id="nav">
  <ul>
    <li><a href="/">Overview</a></li>
    <li><a href="/transactions">Transactions</a></li>
    <li><a href="/transactions/new">New</a></li>
    <li><a href="/merchants">Merchants</a></li>
    <li><a class="active" href="/tags">Tags</a></li>
  </ul>
</div>

<div id="tm-new">
  <form action="/tags" method="post">
    
    <label for="name">New Tag:</label>
    <input type="text" name="name" id="name">

    <input type="submit" value="Save"/>
    
  </form>
</div>

<h3>Saved Tags:</h3>
<table>
<% @tags.each do |tag| %>
  <tr>
    <td><%= tag.name.upcase %></td>
  </tr>
  <% end %>
</table>