#link {
  margin: 0 auto;
  margin-top: 80px;
  border: 5px double black;
  width: 418px;
}

#table {
  margin: 0 auto;
  margin-top: 45px;
  border: 5px double black;
  width: 418px;
}

#tm-new {
  margin: 0 auto;
  margin-top: 80px;
  border: 5px double black;
  width: 385px;
  padding: 17px;
}