#this-month {
  margin: 0 auto;
  margin-top: 80px;
  border: 1px solid #333;
  width: 445px;
}

#this-month div {
  margin: 20px auto;
}

#last-3 {
  margin: 0 auto;
  margin-top: 46px;
  width: 445px;
}

#last-3 div {
  display: inline-block;
  margin: 0 ;
}

#last-3-top {
  margin-top: 5px;
}

#last-3-bottom {
  margin-bottom: 5px;
}

#last-3-container-red {
  width: 100px;
  padding: 10px 0 10px 0;
  border: 1px solid #333;
  background-color: #d57676;
}

#last-3-container-green {
  width: 100px;
  padding: 10px 0 10px 0;
  border: 1px solid #333;
  background-color: #bfd9bf;
}