 #this-month {
  margin: 0 auto;
  margin-top: 80px;
  border: 5px double black;
  width: 445px;
 }

 #this-month div {
  margin: 20px auto;
 }

#last-3 {
  margin: 0 auto;
  margin-top: 46px;
  border: 5px double black;
  width: 445px;
}

#last-3 div {
  display: inline-block;
  margin: 0 ;
}
