table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
  line-height: 1.5;
}

th {
  color: white;
  background-color: #4CAF50;
  border: 1px solid #333;
}

td {
  border: 1px solid #333;
}

#table {
  margin: 0 auto;
  margin-top: 40px;
  width: 452px;
}

#table h4 {
  padding: 0 0 0 0;
}

#total {
  margin: 0 auto;
  margin-top: 80px;
  border: 1px solid #333;
  width: 452px;
}

#show, #edit, #new {
  margin: 0 auto;
  margin-top: 80px;
  width: 445px;
}

#show input {
  width: 115px;
}

#new select, input {
  width: 102px;
}

#edit select, input {
  width: 102px;
}

#tm-saved {
  margin: 0 auto;
  margin-top: 45px;
  width: 445px;
}