#tm-link {
  margin: 0 auto;
  margin-top: 80px;
  border: 1px solid #333;
  width: 445px;
}

#tm-new {
  margin: 0 auto;
  margin-top: 80px;
  border: 1px solid #333;
  width: 410px;
  padding: 17px;
}