#total {
  margin: 0 auto;
  margin-top: 80px;
  border: 5px double black;
  width: 445px;
}

#form {
  margin: 0 auto;
  margin-top: 80px;
  border: 5px double black;
  width: 445px;
}

#show {
  margin: 0 auto;
  margin-top: 80px;
  border: 5px double black;
  width: 445px;
}