<div id="nav">
  <ul>
    <li><a href="/">Overview</a></li>
    <li><a href="/transactions">Transactions</a></li>
    <li><a class="active" href="/transactions/new">New</a></li>
    <li><a href="/merchants">Merchants</a></li>
    <li><a href="/tags">Tags</a></li>
  </ul>
</div>

<div id="form">
  <form action="/transactions" method="post">

    <p>
    <label for="date">Date (YYYY-MM-DD):</label>
    <input type="text" name="date" id="date"/>
    </p>

    <p>
    <label for="merchant_select">
      Merchant:
        <select name="merchant_id" id="merchant_select">
          <% @merchants.each do |merchant| %>
            <option value=<%= merchant.id %>><%= merchant.name.upcase %></option>
          <% end %>
        </select>
    </label>
    </p>

    <p>
    <label for="tag_select">
      Tag:
        <select name="tag_id" id="tag_select">
          <% @tags.each do |tag| %>
            <option value=<%= tag.id %>><%= tag.name.upcase %></option>
          <% end %>
        </select>
    </label>
    </p>

    <p>
    <label for="amount">Amount: £</label>
    <input type="decimal" name="amount" id="amount"/>

    <input type="submit" value="Save Transaction"/>
    </p>
  </form>
</div>