<ul id="menu">
  <li class="menu-item"><a href="/">Overview</a></li>
  <li class="menu-item"><a href="/transactions">Transactions</a></li>
  <li class="menu-item"><a class="active" href="/transactions/new">New</a></li>
  <li class="menu-item"><a href="/merchants">Merchants</a></li>
  <li class="menu-item"><a href="/tags">Tags</a></li>
</ul>
<br>
<h3>Enter transaction details</h3>

<form action="/transactions" method="post">

  <label for="date">Date (YYYY-MM-DD)</label>
  <input type="text" name="date" id="date"/>

  <label for="merchant_select">
    Merchant:
      <select name="merchant_id" id="merchant_select">
        <% @merchants.each do |merchant| %>
          <option value=<%= merchant.id %>><%= merchant.name.upcase %></option>
        <% end %>
      </select>
  </label>

  <label for="tag_select">
    Tag:
      <select name="tag_id" id="tag_select">
        <% @tags.each do |tag| %>
          <option value=<%= tag.id %>><%= tag.name.upcase %></option>
        <% end %>
      </select>
  </label>

  <label for="amount">Amount</label>
  <input type="decimal" name="amount" id="amount"/>

  <input type="submit" value="Save Transaction"/>
  
</form>